.list_item{
	list-style: none;
	background-color: #ffb69d;
	padding: 20px;
	margin: 10px;
	font-weight: 700;
}

.myH1{
	background-color: #ffb69d;
	border: 2px solid black;
	width: 10%;
	text-align: center;
	padding: 20px;
	display: inline-block;
}

.myH2 {
	background-color: silver;
	margin: 10px;
}

.myH3 {
	background-color: lightgray;
	margin: 10px;
}

.myP {

	font-size: 15px;
	background-color: #ececec;
	padding: 20px;
}

li {
	background-color: darkgray;
}